<div class="account-header h-[150px] flex justify-center items-center relative border-b-1 border-black md:h-[200px]">
  <div class="page-width">
    <div class="max-w-custom mx-auto text-center" style="--width: 600px">
      <h1 class="text-m-h2 font-bold md:text-arizona-72">{{ title }}</h1>
    </div>
  </div>
</div>