<div data-swiper-pagination class="flex flex-row justify-center items-center gap-15 mt-10 lg:mt-[76px]">
    <div class="swiper-button-prev swiper-button-prev-{{ section_id }}">
        <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.674 0.178099L5.36 0.948099L2.742 3.3701L8.58 3.3701L8.58 4.4901L2.742 4.4901L5.36 6.9121L4.674 7.6821L0.838001 3.9581L0.838001 3.9021L4.674 0.178099Z" fill="currentColor"/>
        </svg>        
    </div>
    <div class="text-oracle-16">
        <span data-active-slide="{{ section_id }}">1</span>
        <span>/{{ total_slides }}</span>
    </div>
    <div class="swiper-button-next swiper-button-next-{{ section_id }}">
        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.75813 8.224L4.07213 7.454L6.69013 5.032H0.852129V3.912H6.69013L4.07213 1.49L4.75813 0.719999L8.59413 4.444V4.5L4.75813 8.224Z" fill="currentColor"/>
        </svg>        
    </div>
</div>