<div class="screen-height-with-nav page-width my-40 md:mb-60">
  <div class="text-editor wysiwyg max-w-custom w-full mx-auto" style="--width: 900px;">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page"
}
{% endschema %}
