@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: antialiased;
      scrollbar-gutter: stable;
      @apply font-oracle;
    }
  
    body {
      scrollbar-width: thin;
      scrollbar-gutter: stable;
      @apply bg-[var(--background)] text-[var(--text)];
    }
  
    html,
    body {
        scroll-padding-top: calc(var(--nav-height) + var(--announcement-bar-height)); /* set to the height of your header */
    }
    
    .no-js:not(html) {
      display: none !important;
    }
  
    .page-width {
      @apply w-full max-w-1610 mx-auto px-[26px] md:px-30 lg:px-60;
    }
  
    .page-width-fluid {
      @apply w-full mx-auto px-20 md:px-30;
    }

    .overflow-page-width {
      @apply 
      w-[calc(100%_+_52px)] mx-[-26px] *:px-[26px]
      md:w-[calc(100%_+_60px)] md:-mx-30 md:*:px-30
      lg:w-[calc(100%_+_120px)] lg:-mx-60 lg:*:px-60 overflow-x-auto
    }

    hr {
        @apply border-brown-light;
    }

    .h-inherit {
      height: inherit;
    }

    .text-arizona-80,
    .text-arizona-72,
    .text-arizona-60,
    .text-arizona-48,
    .text-arizona-36,
    .text-arizona-26,
    .text-arizona-20,
    .text-arizona-custom {
        @apply font-arizona-flare
    }

    .text-oracle-18,
    .text-oracle-16,
    .text-oracle-14,
    .text-oracle-12,
    .text-oracle-custom {
        @apply font-oracle;
    }

    .text-pangram-20,
    .text-pangram-20,
    .text-pangram-18,
    .text-pangram-14,
    .text-pangram-12,
    .text-pangram-custom {
        @apply font-pangram uppercase font-semibold;
    }

    .font-pangram {
      @apply uppercase font-semibold;
    }
  }

  @layer components {
    .button {
        @apply font-oracle text-oracle-16 leading-[30px] text-center
        px-20 py-[4px]
        rounded-[5px]
        border
        bg-[var(--button)] border-[var(--button)] text-[var(--button\_text)]
        md:hover:bg-[var(--button\_text)] md:hover:text-[var(--button)] md:hover:border-[var(--button)];
    }

    .button--outline {
        @apply border
        bg-[var(--button\_text)] border-[var(--button)] text-[var(--button)]
        md:hover:bg-[var(--button)] md:hover:text-[var(--button\_text)] md:hover:border-[var(--button\_text)];
    }

    .button--large {
        @apply w-full max-w-[381px] py-[12px] lg:py-[16px] rounded-[10px]
    }

    .text-link {
        @apply relative overflow-x-clip block
        before:absolute before:content-[""] before:w-full before:h-[2px] before:bg-[var(--text)] before:left-0 before:top-full
        after:absolute after:content-[""] after:w-full after:h-[2px] after:bg-blue after:left-0 after:top-full after:-translate-x-full after:transition-transform
        hover:after:translate-x-0
    }

    .bullet-link {
        @apply relative
        after:absolute after:content-[""] after:rounded-full after:w-[7px] after:h-[7px] after:bg-[var(--text)] after:left-0 after:top-half after:-translate-x-half after:-translate-y-half after:opacity-0 after:transition-opacity
        hover:after:opacity-100
    }

    nav [aria-current="page"] {
        @apply relative
        after:absolute after:content-[""] after:rounded-full after:w-[7px] after:h-[7px] after:bg-[var(--text)] after:-left-10 after:top-half after:-translate-x-half after:-translate-y-half after:opacity-100
    }

    .svg-link {
        @apply flex-nowrap whitespace-nowrap [&_svg_circle]:fill-transparent [&:hover_svg_circle]:fill-[var(--text)] [&:hover_svg_path]:fill-[var(--background)] [&_svg_circle]:transition-[fill]
    }

  }

  @layer utilities {
    .inset {
      @apply absolute top-0 right-0 bottom-0 left-0;
    }
  
    .rte {
      @apply [&_ul]:pl-15 [&_strong]:font-medium [&_ul]:list-disc [&_a]:underline [&_p]:mb-20 [&_p:last-child]:mb-0;
    }
  
    .visually-hidden {
      clip: rect(0 0 0 0);
      @apply absolute overflow-hidden w-px h-px -m-px;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .skip-to-content-link:focus {
      @apply z-top overflow-auto w-auto h-auto;
      clip: rect(0 0 0 0);
    }
  
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }

    .swatch {
        @apply outline outline-1 outline-transparent outline-offset-0 transition-["outline"]
    }
    .active-swatch {
        @apply relative
        outline outline-1 outline-brown outline-offset-4
    }

    .below-nav {
      @apply aria-hidden:top-0 aria-unhidden:top-[calc(0px_+_var(--nav-height)_+_var(--announcement-bar-height))]
    }

    .screen-height-with-nav {
      @apply min-h-[max(calc(100vh_-_var(--nav-height)_-_var(--announcement-bar-height)),500px)]
    }

    .content-left_top {
      @apply justify-start items-start text-left
    }

    .content-right_top {
      @apply justify-start items-end text-right
    }

    .content-center_top {
      @apply justify-start items-center text-center
    }

    .content-left {
      @apply justify-center items-start text-left
    }

    .content-center {
      @apply justify-center items-center text-center
    }

    .content-right {
      @apply justify-center items-end text-right
    }

    .content-left_bottom {
      @apply justify-end items-start text-left
    }

    .content-right_bottom {
      @apply justify-end items-end text-right
    }

    .content-center_bottom {
      @apply justify-end items-center text-center
    }

    .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    @media screen and (min-width: 1024px) {
      .vertical-text-desktop {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    @media screen and (max-width: 1023px) {
      .vertical-text-mobile {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  }
  

  /* HEADER */

  header nav li,
  header nav a {
    @apply text-oracle-16 leading-[30px] whitespace-nowrap
  }

  header {
    @apply bg-cream text-brown border-b border-transparent lg:border-brown transition-all
  }

  header .mega-menu {
    @apply bg-cream text-brown
  }

  .header .group\/nav {
    @apply h-full py-5 flex flex-col justify-center items-center
  }

  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }

  /* headroom showing */
  .headroom--pinned {
  }

  /* headroom hidden */
  .headroom--unpinned {
  }

  header.overlay-header {
    @apply mx-25 lg:mx-0 lg:px-25
  }

  header:not(.overlay-header) {
    @apply px-25
  }

  .headroom--top header.overlay-header {
    @apply bg-transparent text-cream border-transparent top-[var(--announcement-bar-height)] translate-y-0
  }

  [menu-drawer-open] .headroom--top header.overlay-header {
    @apply bg-cream text-brown px-[17px] lg:px-[25px]
  }

  .headroom--not-top {
    @apply -translate-y-[var(--announcement-bar-height)]
  }

  .headroom--not-top header.overlay-header {
    @apply px-[17px] bg-cream
  }

  .headroom--not-top + #shopify-section-mobile-menu mobile-menu #mobile-menu {
    @apply aria-unhidden:top-[calc(0px_+_var(--nav-height))]
  }

  .js-open-menu + .js-close-menu {
    @apply hidden lg:!hidden;
  }

  [menu-drawer-open] header {
    @apply border-transparent px-[17px] lg:px-[25px]
  }

  [menu-drawer-open] .js-open-menu {
    @apply hidden;
  }

  [menu-drawer-open] .js-open-menu + .js-close-menu  {
    @apply block;
  }

  body:not(.template-index) main > .shopify-section:first-child > div:first-child {
    @apply md:pt-[calc(var(--nav-height)_+_var(--announcement-bar-height))]
  }

  /* body.template-index main > .shopify-section:first-child > div:first-child {
    @apply pt-[calc(var(--nav-height)_+_var(--announcement-bar-height))]
  } */