@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: antialiased;
      scrollbar-gutter: stable;
      scrollbar-width: thin;
      @apply font-oracle;
    }
  
    body {
      scrollbar-width: thin;
      scrollbar-gutter: stable;
      @apply bg-[var(--background)] text-[var(--text)];
    }
  
    html,
    body {
        scroll-margin-top: calc(var(--nav-height) + var(--announcement-bar-height)); /* set to the height of your header */
        scroll-behavior: smooth;
    }
    
    .no-js:not(html) {
      display: none !important;
    }

    *:focus-visible {
      @apply outline-1 outline-blue outline-offset-2 rounded-sm
    }
  
    .page-width {
      @apply w-full max-w-1610 mx-auto px-25 md:px-30 lg:px-60;
    }
  
    .page-width-fluid {
      @apply w-full mx-auto px-20 md:px-30;
    }

    .overflow-page-width {
      @apply 
      w-[calc(100%_+_52px)] mx-[-26px] *:px-[26px]
      md:w-[calc(100%_+_60px)] md:-mx-30 md:*:px-30
      lg:w-[calc(100%_+_120px)] lg:-mx-60 lg:*:px-60 overflow-x-auto overflow-y-clip
    }

    hr {
        @apply border-brown-light;
    }

    .h-inherit {
      height: inherit;
    }

    [class*='text-arizona-'] {
        @apply font-arizona-flare
    }

    [class*='text-oracle-'] {
        @apply font-oracle font-[350];
    }

    [class*='text-pangram-'] {
        @apply font-pangram uppercase font-semibold tracking-[0.1em];
    }

    .font-pangram {
      @apply uppercase font-semibold;
    }

      /* Animations */
      html.enable-animations[data-editor-open="false"] [data-animate] {
        opacity: 0;
        /* transform: translateY(15px); */
        transition: opacity 0.5s ease;
      }

      html.enable-animations[data-editor-open="false"] .shopify-section.animated [data-animate]:not([data-individual]) {
        opacity: 1;
        transform: translateY(0);
      }

      html.enable-animations[data-editor-open="false"] .shopify-section [data-animate][data-individual].animated {
        opacity: 1;
        transform: translateY(0);
      }
  }

  @layer components {
    .button {
        @apply font-oracle text-oracle-16 leading-[30px] text-center indent-0 transition-colors
        px-20 py-[4px]
        rounded-[5px]
        border
        bg-[var(--button)] border-[var(--button\_text)] text-[var(--button\_text)]
        md:hover:bg-blue md:hover:text-[var(--button)] md:hover:border-blue;
    }

    .button--outline {
        @apply border
        bg-[var(--button\_text)] border-[var(--button)] text-[var(--button)]
        md:hover:bg-[var(--button)] md:hover:text-[var(--button\_text)] md:hover:border-[var(--button\_text)];
    }

    .button--large {
        @apply w-full max-w-[381px] py-[12px] lg:py-[16px] rounded-[10px]
    }

    .text-link {
        @apply relative overflow-x-clip block
        before:absolute before:content-[""] before:w-full before:h-[1px] before:bg-[var(--text)] before:left-0 before:top-[calc(100%_-_3px)]
        after:absolute after:content-[""] after:w-full after:h-[2px] after:bg-blue after:left-0 after:top-[calc(100%_-_3px)] after:-translate-x-full after:transition-transform
        hover:after:translate-x-0
    }

    .underline-when-active {
      @apply relative overflow-x-clip overflow-y-visible block pb-5
      before:absolute before:content-[""] before:w-full before:h-[1px] before:bg-[var(--background)] before:left-0 before:top-full
      after:absolute after:content-[""] after:w-full after:h-[1px] after:bg-[var(--text)] after:left-[-1px] after:top-full after:-translate-x-full after:transition-transform
      [&.active]:after:translate-x-0
    }

    .bullet-link {
        @apply relative
        after:absolute after:content-[""] after:rounded-full after:w-[7px] after:h-[7px] after:bg-[var(--text)] after:left-0 after:top-half after:-translate-x-half after:-translate-y-half after:opacity-0 after:transition-opacity
        hover:after:opacity-100
    }

    nav [aria-current="page"] {
        @apply relative
        after:absolute after:content-[""] after:rounded-full after:w-[7px] after:h-[7px] after:bg-[var(--text)] after:-left-10 after:top-half after:-translate-x-half after:-translate-y-half after:opacity-100
    }

    .svg-link {
        @apply flex-nowrap whitespace-nowrap [&_svg_circle]:fill-transparent [&:hover_svg_circle]:fill-[var(--text)] [&:hover_svg_path]:fill-[var(--background)] [&_svg_circle]:transition-[fill]
    }

    .svg-link-peer-hover {
      @apply [&_svg_circle]:fill-[var(--text)] [&_svg_path]:fill-[var(--background)]
    }

    .field__label {
        @apply mb-5 block text-oracle-18;
    }
  
    .field__input {
        @apply w-full py-[18px] px-20 rounded-[10px] text-oracle-14 bg-transparent text-[var(--text)] border-[1px] border-[var(--text)] bg-none resize-none placeholder:text-[var(--text)] md:py-20 md:px-30 md:text-oracle-16;
    }
  
    .field__select {
        @apply relative border-1 border-[var(--text)] flex flex-row justify-start items-center gap-20 w-full rounded-[10px] py-20 px-30;
    }
  
    .field__select select,
    .spb-select select {
      @apply w-full bg-transparent
    }
  }

  @layer utilities {
    .pause {
      animation-play-state: paused;
    }

    .inset {
      @apply absolute top-0 right-0 bottom-0 left-0;
    }
  
    .rte {
      @apply [&_ul]:pl-15 [&_strong]:font-medium [&_ul]:list-disc [&_a]:underline [&_p]:mb-20 [&_p:last-child]:mb-0;
    }
  
    .visually-hidden {
      clip: rect(0 0 0 0);
      @apply absolute overflow-hidden w-px h-px -m-px;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .skip-to-content-link:focus {
      @apply z-top overflow-auto w-auto h-auto;
      clip: rect(0 0 0 0);
    }
  
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }

    .swatch {
        @apply block outline outline-1 outline-transparent outline-offset-0 transition-["outline"] w-[17px] lg:w-[23px] h-auto aspect-square rounded-full bg-cover bg-center cursor-pointer
    }

    .product .swatch {
      @apply w-[21.5px] lg:w-[23px]
    }

    .active-swatch {
        @apply relative
        outline outline-1 outline-[var(--text)] outline-offset-4 cursor-default
    }

    .below-nav {
      @apply aria-hidden:top-0 aria-unhidden:top-[calc(0px_+_var(--nav-height)_+_var(--announcement-bar-height))]
    }

    .screen-height-with-nav,
    .shopify-challenge__container {
      @apply min-h-[max(calc(100vh_-_var(--nav-height)_-_var(--announcement-bar-height)),500px)]
    }

    .screen-height-with-announcement {
      @apply min-h-[max(calc(100vh_-_var(--announcement-bar-height)),500px)]
    }

    /* flex alignment helpers */

    .content-left_top {
      @apply justify-start items-start text-left
    }

    .content-right_top {
      @apply justify-start items-end text-right
    }

    .content-center_top,
    .content-top {
      @apply justify-start items-center text-center
    }

    .content-left {
      @apply justify-center items-start text-left
    }

    .content-center {
      @apply justify-center items-center text-center
    }

    .content-right {
      @apply justify-center items-end text-right
    }

    .content-left_bottom {
      @apply justify-end items-start text-left
    }

    .content-right_bottom {
      @apply justify-end items-end text-right
    }

    .content-center_bottom,
    .content-bottom {
      @apply justify-end items-center text-center
    }

    /* object position helpers */
    .object-position-left-top {
      @apply object-left-top
    }

    .object-position-right-top {
      @apply object-right-top
    }

    .object-position-center-top {
      @apply object-top
    }

    .object-position-left {
      @apply object-left
    }

    .object-position-center {
      @apply object-center
    }

    .object-position-right {
      @apply object-right
    }

    .object-position-left-bottom {
      @apply object-left-bottom
    }

    .object-position-right-bottom {
      @apply justify-end items-end text-right
    }

    .object-position-center-bottom {
      @apply justify-end items-center text-center
    }

    .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    @media screen and (min-width: 1024px) {
      .vertical-text-desktop {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    @media screen and (max-width: 1023px) {
      .vertical-text-mobile {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  }
  

  /* HEADER */

  header nav li,
  header nav a {
    @apply text-oracle-16 leading-[30px] whitespace-nowrap
  }

  header > div {
    @apply bg-cream text-brown border-b border-transparent transition-all
  }

  header .mega-menu {
    @apply bg-cream text-brown
  }

  .header .group\/nav {
    @apply h-full py-5 flex flex-col justify-center items-center
  }

  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }

  /* headroom showing */
  .headroom--pinned {
  }

  /* headroom hidden */
  .headroom--unpinned {
  }

  header.overlay-header {
    @apply lg:px-25 
    /* lg:mx-0  */
  }

  header:not(.overlay-header) {
    @apply px-25
  }

  .overlay-header[data-menu-open],
  [data-menu-open] {
    @apply after:h-[1px] after:w-[calc(100%-50px)] after:content-[''] after:bg-brown bottom-0 left-0 after:absolute after:z-20
  }

  .overlay-header[data-menu-open] [data-header-logo],
  [menu-drawer-open="true"] .overlay-header [data-header-logo] {
    @apply opacity-100
  }

  .headroom--top header.overlay-header:not([data-menu-open]) > div {
    @apply bg-transparent text-cream border-transparent translate-y-0
    /* top-[var(--announcement-bar-height)] */
  }

  [menu-drawer-open] .headroom--top header.overlay-header > div,
  [data-search-open] .headroom--top header.overlay-header > div {
    @apply bg-cream text-brown px-[16px] md:px-[25px]
  }

  .headroom--not-top
   {
    @apply -translate-y-[var(--announcement-bar-height)]
  }

  body:not(.template-index) header,
  .headroom--not-top header.overlay-header:not([data-menu-open]),
  .headroom--not-top header:not([data-menu-open]) {
    @apply bg-cream border-b border-brown
  }

  .headroom--not-top + #shopify-section-mobile-menu mobile-menu #mobile-menu {
    @apply aria-unhidden:top-[calc(0px_+_var(--nav-height)_-_2px)]
  }

  header:not(.overlay-header)[data-menu-open],
  [menu-drawer-open] header:not(.overlay-header) {
    @apply bg-transparent border-transparent
  }

  .js-open-menu + .js-close-menu {
    @apply hidden lg:!hidden;
  }

  header {
    @apply px-[9px] md:px-0
  }

  [menu-drawer-open] header,
  [data-search-open] header {
    @apply border-transparent px-[25px]
  }

  [data-search-open] search-dropdown > div:first-child {
    @apply px-[25px]
  }

  [menu-drawer-open] .js-open-menu {
    @apply hidden;
  }

  [menu-drawer-open] .js-open-menu + .js-close-menu  {
    @apply block;
  }

  body:not(.template-index) main > .shopify-section:first-child > div:first-child,
  body:not(.template-index) main > .shopify-section:first-child > section:first-child,
  body:not(.template-index) main > script:first-child + div,
  body .shopify-challenge__container {
    @apply pt-[calc(var(--nav-height)_+_var(--announcement-bar-height))]
  }

  /* body.template-index main > .shopify-section:first-child > div:first-child {
    @apply pt-[calc(var(--nav-height)_+_var(--announcement-bar-height))]
  } */

  /* --- PRODUCT CARD --- */
  .group\/card fieldset legend,
  .group\/card .product-form-quantity,
  .group\/card button[type="submit"],
  .group\/card fieldset:not([data-option-name='Finish'])  {
    @apply visually-hidden p-0
  }

  predictive-search .group\/card [data-price] {
    @apply hidden lg:flex
  }

  /* FORM */

  .form__label {
    @apply text-pangram-10 lg:text-pangram-12 font-pangram *:inline-block *:leading-[1.1]
  }

  /* PDP */

  .product lb-product-card {
    @apply block w-full
  }

  .product .lb-upsell-ppa-card-cont .lb-spc-border,
  .product .lb-upsell-addon-popup-card .lb-shared-variants-select, 
  .product .lb-upsell-product-page-card .lb-shared-variants-select, 
  .product lb-tq-page-upsell .lb-shared-variants-select,
  .product .lb-upsell-product-page-card .lb-spc-details-btn, 
  .product .lb-upsell-product-page-card .lb-spc-qty-cont
   {
    @apply !border-[var(--text)]
  }

  .product .lb-upsell-ppa-card-cont .lb-spc-cont,
  .product .lb-upsell-product-page-card .lb-shared-variants-select {
    @apply !bg-[var(--background)]
  }

  .product .lb-upsell-ppa-card-cont .lb-spc-cont {
    @apply w-full !max-w-none py-[24px] px-[28px]
  }

  .product .lb-upsell-ppa-card-cont .lb-spc-cont .lb-spc-details-cont {
    @apply flex flex-col gap-10
  }

  .product .lb-upsell-product-page-card .lb-spc-details-name {
    @apply text-pangram-12 lg:text-pangram-14 font-pangram uppercase
  }

  .product .lb-upsell-product-page-card .lb-spc-details-price-wrap {
    @apply text-pangram-10 lg:text-pangram-12 font-pangram uppercase
  }

  .product .lb-spc-border-radius {
    @apply rounded-none
  }

  .product .lb-upsell-product-page-card .lb-spc-details-btn {
    @apply text-oracle-16 font-oracle
  }

  .product .lb-shared-variants-select {
    @apply !w-full !text-oracle-16 !font-oracle
  }

  .product .lb-spc-details-btm {
    @apply gap-10
  }

  /* ---- SWIPER ---- */
  [data-swiper-pagination] .swiper-button-prev,
  [data-swiper-pagination] .swiper-button-next {
    @apply after:content-none relative top-0 w-fit h-fit mt-0 text-[currentColor] fill-[currentColor] right-0 left-0
  }

  .swiper-hero-pagination {
    @apply flex flex-col justify-end items-center gap-20 top-0 right-0 !w-fit h-full bottom-auto !left-auto;
  }

  .swiper-hero-bullet {
    @apply h-[max(58px,4vw)] w-[2px] bg-cream/30 overflow-clip opacity-100 border-none m-0
    top-auto left-auto bottom-[max(60px,4vw)] right-[max(60px,4vw)] rounded-none
    relative overflow-x-clip block
    before:absolute before:content-[""] before:w-full before:h-full before:bg-cream/40 before:left-0 before:top-0
    after:absolute after:content-[""] after:w-full after:h-full after:bg-cream after:left-0 after:top-0 after:translate-y-full after:transition-opacity after:ease-linear
    [&.swiper-pagination-bullet-active]:after:translate-y-0
    [&.swiper-pagination-bullet-active]:after:duration-[4200ms]
    [&.swiper-pagination-bullet-active]:after:transition-transform
    [&.swiper-pagination-bullet-active]:after:ease-linear
  }

  /* --- RICHTEXT / WYSIWYG --- */

  .wysiwyg > * + * {
    @apply mt-10
  }

  .wysiwyg > * + a {
    @apply mt-[18px]
  }

  .wysiwyg h1 {
    @apply text-arizona-72 lg:text-arizona-80 font-arizona-flare
  }

  .wysiwyg h2 {
    @apply text-arizona-60 lg:text-arizona-72 font-arizona-flare
  }

  .wysiwyg h3 {
    @apply text-arizona-48 lg:text-arizona-60 font-arizona-flare
  }

  .wysiwyg h4 {
    @apply text-arizona-36 lg:text-arizona-48 font-arizona-flare
  }

  .wysiwyg h4 {
    @apply text-arizona-26 lg:text-arizona-36 font-arizona-flare
  }

  .wysiwyg h5 {
    @apply text-pangram-18 lg:text-pangram-18 font-pangram
  }

  .wysiwyg h6 {
    @apply text-pangram-14 lg:text-pangram-18 font-pangram
  }

  .wysiwyg p {
    @apply text-oracle-18 font-oracle
  }

  .wysiwyg a,
  .wysiwyg p a {
    @apply underline
  }

  /* -- Modal --- */
.modal__container {
  @apply bg-[var(--background)] text-[var(--text)]
}

.modal__title {
  @apply text-arizona-40 lg:text-arizona-48 text-center mb-[33px] font-arizona-flare
}

.modal .field__label {
  @apply visually-hidden
}

/* Default Browser search clear */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/*--- judgeme ---*/

.shopify-section .jdgm-rev-widg {
  @apply mt-0 px-0
}

.shopify-section .jdgm-rev-widg__body {
  @apply border-[var(--text)] border-t lg:mt-[32px]
}

.shopify-section .jdgm-rev-widg__title {
  @apply hidden
}

.shopify-section .jdgm-histogram.jdgm-temp-hidden {
  @apply hidden
}

.shopify-section .jdgm-rev-widg__header {
  @apply flex flex-row justify-center items-center gap-[18px] flex-wrap
}

.shopify-section .jdgm-form-wrapper {
  @apply w-full
}

.shopify-section .jdgm-form-wrapper input:not([type='submit']),
.shopify-section .jdgm-form-wrapper textarea,
.shopify-section .jdgm-form-wrapper select {
  @apply bg-[var(--background)] border-[var(--text)] placeholder:text-[var(--text)] px-10 py-5
}

.shopify-section .jdgm-form-wrapper input:not([type='submit']),
.shopify-section .jdgm-form-wrapper textarea {
  @apply rounded-[10px]
}

.shopify-section .jdgm-rev-widg__summary-inner {
  @apply flex flex-row justify-center items-center gap-10 text-oracle-14
}

.shopify-section .jdgm-rev__prod-link {
  @apply whitespace-nowrap
}

.shopify-section .jdgm-write-rev-link {
  @apply border-[var(--text)] rounded-[10px] bg-[var(--background)] py-[8px] px-[17px] text-oracle-16 transition-all
  md:hover:bg-[var(--button)] md:hover:text-[var(--button\_text)] md:hover:border-[var(--button\_text)];
}

.shopify-section .jdgm-rev-widg__sort-wrapper {
  @apply hidden;
}

.shopify-section .jdgm-rev__timestamp {
  @apply hidden
}

.shopify-section .jdgm-rev__icon {
  @apply hidden
}

.shopify-section .jdgm-rev__buyer-badge-wrapper {
  @apply block
}

.shopify-section .jdgm-rev__buyer-badge {
  @apply text-[var(--text)] bg-[var(--background)] text-oracle-13 lg:text-oracle-18 font-oracle font-[350] opacity-75 px-0 mb-[13px]
}

.shopify-section .jdgm-rev__author {
  @apply text-pangram-10 lg:text-pangram-14 font-pangram
}

.shopify-section .jdgm-rev__title {
  @apply text-oracle-13 lg:text-oracle-18 font-oracle font-[350] capitalize
}

.shopify-section .jdgm-rev__body {
  @apply text-oracle-13 lg:text-oracle-18 font-oracle font-[350] [&_p:first-of-type]:indent-8
}

.shopify-section .jdgm-rev__body * {
  @apply text-oracle-14 lg:text-oracle-18 font-oracle font-[350] capitalize
}

.shopify-section .jdgm-rev {
  @apply border-b border-t-0 border-[var(--text)] m-0 pt-[18px] pb-25 pr-[32px]
}

.shopify-section .jdgm-rev__rating {
  @apply leading-[1]
}

.shopify-section .jdgm-rev__rating,
.shopify-section .jdgm-rev__header,
.shopify-section .jdgm-rev__title {
  @apply mb-10 lg:mb-15 block
}

.shopify-section .jdgm-rev__br {
  @apply hidden
}

.shopify-section .jdgm-paginate,
.shopify-section .jdgm-paginate__page.jdgm-curt {
  @apply text-oracle-12 lg:text-oracle-16 font-oracle font-[350]
}

.shopify-section .jdgm-paginate__page.jdgm-curt {
  @apply underline
}

.shopify-section .jdgm-star {
  @apply text-[10px] lg:text-[17px]
}

/* Loading Spinner */

.loading-spinner {
  @apply absolute top-half left-half w-50 h-50 -translate-x-half -translate-y-half opacity-0 z-[-1] transition-all
}

.loading-spinner__overlay {
  @apply absolute top-0 left-0 w-full h-full opacity-0 z-[-1] transition-all bg-white/20 backdrop-blur-[1px]
}

.loading .loading-spinner,
.loading .loading-spinner__overlay {
  @apply opacity-100 z-[1]
}

.loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  max-width: 25px;
  aspect-ratio: 1/1;
  opacity: 0;
  transition: opacity .3s ease;
}

.loading > .loading-overlay__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay__spinner svg {
  position: relative;
  width: 33px;
  height: 33px;
}

.loading-overlay__spinner svg .path {
  stroke: currentColor
}

.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: currentColor;
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .path{
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
/* infinite options */
.spb-label-tooltip {
  @apply form__label mb-20
}

.spb-select {
  @apply relative border-1 border-[var(--text)] flex flex-row justify-start items-center gap-20 w-full rounded-[10px] py-10 px-20;
}

.spb-select select {
  @apply text-oracle-14
}